.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 0 20px;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  max-width: 220px;
  margin: 25px 0;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  border: none;
  width: 21px;
  height: 18px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button_active {
  background-image: url(../images/Union.svg);
}

.card__delete-button {
  background: transparent url(../images/Trash.svg) center no-repeat;
  border: none;
  width: 18px;
  height: 19.3px;
  cursor: pointer;
  position: absolute;
  top: 19.3px;
  right: 18px;
  transition: opacity 0.3s ease-in-out;
}

.card__delete-button:hover {
  opacity: 0.6;
}
