.form {
  display: flex;
  flex-direction: column;
  border: none;
  margin-left: 36px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.form__label {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  color: #000;
  margin: 34px 0 24px 36px;
}

.form__input {
  font-size: 14px;
  line-height: 1.2;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 13.5px 0 13.5px;
  margin: 16px auto 0;
  width: 358px;
}

.form__button-submit {
  border: none;
  border-radius: 2px;
  color: #fff;
  background-color: #000;
  font-size: 18px;
  line-height: 1.2;
  width: 358px;
  height: 50.15px;
  margin: 48px auto 0;
  padding: 0;
  cursor: pointer;
}

.form__button-submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 620px) {
  .form {
    margin-left: 22px;
    width: 238px;
  }

  .form__label {
    font-size: 18px;
    margin: 25px 0 31px;
  }

  .form__input {
    width: 238px;
  }

  .form__button-submit {
    font-size: 14px;
    width: 238px;
    margin: 45px auto 0;
  }
}
