.gallery__cards {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 919px) {
  .gallery__cards {
    margin: 0 auto;
    max-width: 581px;
  }
}

@media screen and (max-width: 620px) {
  .gallery__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
