.header {
  padding: 45px 0 41px;
  border-bottom: 1px rgba(84, 84, 84, 0.7) solid;
}

@media screen and (max-width: 600px) {
  .header {
    margin: 0;
    padding: 0;
    max-width: 100%;
  }

  .header__logo {
    margin: 28px 0 32px 27px;
    padding: 0;
    width: 126px;
    height: 24px;
  }
}
