.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  height: 100vh;
  min-width: 100%;
  z-index: 2;
  box-sizing: border-box;
  display: none;
}

.modal_opened {
  display: flex;
}

.modal__container {
  background-color: #fff;
  width: 430px;
  max-width: 100%;
  border-radius: 10px;
  padding-bottom: 30px;
  position: relative;
  margin: auto;
}

.modal__button-exit {
  position: absolute;
  background: transparent url(../images/close-icon.svg) center no-repeat;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  top: -40px;
  right: -40px;
}

.modal__button-exit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 620px) {
  .modal__container {
    width: 282px;
    padding-bottom: 25px;
  }

  .modal__button-exit {
    background: transparent url(../images/close-icon-mobile.svg) center
      no-repeat;
    width: 26px;
    height: 26px;
    right: 0px;
  }
}
