.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  height: 100vh;
  min-width: 100%;
  z-index: 2;
  box-sizing: border-box;
  display: none;
}

.modal_opened {
  display: flex;
}

.modal__container {
  background-color: #fff;
  width: 430px;
  max-width: 100%;
  border-radius: 10px;
  padding-bottom: 30px;
  position: relative;
  margin: auto;
}

@media screen and (max-width: 620px) {
  .modal__container {
    width: 282px;
    max-width: 100%;
    padding-bottom: 25px;
  }
}
