.profile {
  display: flex;
  align-items: center;
  padding-bottom: 47px;
  padding-top: 36px;
  max-width: 100%;
}

.profile__photo {
  border-radius: 50%;
}

.profile__description {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  max-width: 47%;
}

.profile__name-and-button {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  max-width: 100%;
}

.profile__name {
  font-size: 42px;
  line-height: 1.1;
  font-weight: 500;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background: transparent url(../images/edit-icon.svg) center no-repeat;
  border: #fff 1px solid;
  height: 24px;
  width: 24px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__subtitle {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__add-button {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  border: #fff 2px solid;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  margin-left: auto;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .profile {
    flex-direction: column;
  }

  .profile__description {
    padding: 0;
  }

  .profile__name-and-button {
    padding-bottom: 14px;
    padding-top: 26px;
    align-items: center;
  }

  .profile__name {
    font-size: 22px;
    line-height: 1.2;
    align-self: center;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__subtitle {
    font-size: 14px;
    align-self: center;
    padding-bottom: 36px;
  }

  .profile__add-button {
    align-self: center;
    margin-left: 0;
    width: 282px;
  }
}
