.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  height: 100vh;
  min-width: 100%;
  z-index: 2;
  box-sizing: border-box;
  display: flex;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.modal_opened {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: #fff;
  width: 430px;
  max-width: 100%;
  border-radius: 10px;
  padding-bottom: 30px;
  position: relative;
  margin: auto;
}

.modal__button-exit {
  position: absolute;
  background: transparent url(../images/close-icon.svg) center no-repeat;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  top: -40px;
  right: -40px;
  transition: opacity 0.3s ease-in-out;
}

.modal__button-exit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 620px) {
  .modal__container {
    width: 282px;
    padding-bottom: 25px;
  }

  .modal__button-exit {
    background: transparent url(../images/close-icon-mobile.svg) center
      no-repeat;
    width: 26px;
    height: 26px;
    right: 0px;
  }
}

.modal__container-image {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
  object-fit: cover;
  display: flex;
}

.modal__preview-caption {
  font-size: 12px;
  line-height: 1.2;
  color: #fff;
  padding: 0;
  margin: 10px 0 0;
}
